<mat-toolbar color="primary">

    <mat-icon [ngStyle]="{'color':'white'}">
      book_online
    </mat-icon>
    <span  style="padding-left: 0.5%; font-size: medium;">Arena</span>
  
  
      <span class="example-spacer" style="width: 90%"></span>
      <a [routerLink]="['/']" style="margin-left: 5%;">
          <button mat-flat-button color="primary">
              <mat-icon [ngStyle]="{'color':'white'}">
                  login
              </mat-icon>
          </button>
      </a>
  </mat-toolbar>
  